





.image{
  display: flex;
  text-align: center;
  height: 400px;
  width: 500px;
  margin-left: 427px;


}
.head{
text-align: center;

}
.james{

font-size: 20px;
color: #ff99cc;
}
.Container{
  display: flex;

}

a.youtube {
  color: #eb3223;
  text-align: center;
  height: 200px;
  width: 100px;
  border-radius: 20px;
  margin-left: -570px;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0 0 2px  bisque;
  padding: 0.5em 0.6em;


}

a.facebook {
  color: white;
  text-align: center;
  margin-left: -430px;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0 0 2px  bisque;
  padding: 0.5em 0.6em;
  background-color: gray;
  
}

a.google {
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0 0 2px  bisque;
  padding: 0.5em 0.6em;
  background-color: gray;
}

a.instagram {
  color: white;
  text-align: center;
  margin-left: 200px;
  display: flex;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0 0 2px  bisque;
  padding: 0.5em 0.6em;
  background-color: gray;
  
}


.paragraph{

  font-size:small;
}
.text{

text-align: left;
  margin-top: 20px;
color: #4968ad;
}

.headingtag
{
  
  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 364px;

  }
  .headingtag2{
display: flex;
  text-align: center;
    color:black;
    margin-left: 418px;
  }


.socialicons{
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 436px;
  display: inline-block;
  
}
.socialicons_1{
 
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 673px;
  display: inline-block;
  
}

.socialicons2{
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 436px;
  display: inline-block;
  
}
.socialicons3{
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 436px;
  display: inline-block;
  
}

.social-media-icons-white a{
  color: white;
  font-size: 2rem;
}
.social-container{

  text-align: center;
  display: flex;
  color: white;
  margin-left: 346px;
  margin-top: 34px;
  display: flex;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0 0 2px  bisque;
  padding: 0.5em 0.6em;
  background-color: gray;

}
.social-container1{
  text-align: center;
  display: flex;
  margin-left: 371px;
  margin-top:  20px;

}

.socialicons20{
  margin-left: 558px;
    margin-top: -34px;
    text-align: center;

}
.social-container01{
  
    text-align: center;
    display: flex;
    margin-left: 108px;
    margin-top: 5px;
    border-radius: 2px;
    


}
.social-container02{
  text-align: center;
    display: flex;
    margin-left: 106px;
    margin-top: -29px;

}

.social-container03{

  text-align: center;
    display: flex;
    margin-left: -2px;
    margin-top: -68px;

}
.social-container04{

  text-align: center;
    display: flex;
    margin-left: 17px;
    margin-top: -35px;


}
.heading{

  display: flex;
  margin-left: 200px;
}
.Htag{
  display: flex;
    margin-left: 25px

}
.jamestag{

  display: flex;
    margin-left: 150px;
    text-align: center;
}